html {
    --blue-color: rgb(141, 220, 247);
    --grey-color: rgb(44, 46, 46);
}


/* ----------- HEADER SECTION WITH NAV BAR ----------*/

header {
    height: 90px;
    line-height: 90px;
    background: var(--grey-color);
    padding-top: 5px;
}

.header-name {
    display: inline-block;
    width: 260px;
    height: 60px;
    line-height: 60px;
    margin: 10px auto auto 0px;
    padding-right: 20px;
    background: var(--blue-color);
    color: var(--grey-color);
    text-align: right;
    font-size: 40px;
}

.navbar {
    float: right;
    height: 60px;
    line-height: 60px;
    margin: 10px 60px;
}

nav {
    padding: 0 10px 0 10px;
    display: inline-block;
    color: var(--blue-color);
    font-size: 20px;
    font-weight: 700;
    margin: 10px;
}

.underlined {
    border-bottom: 4px solid currentColor;
    display: inline-block;
    line-height: 1.5;

}

/* ---------- MAIN BANNER -----------*/

#banner {
    background-image: url("/assets/images/banner-image.jpg");
    height: 200px;
    padding-top: 110px;
}

.subtitle {
    width: 350px;
    height: 80px;
    margin: auto 80px auto auto;
    background: var(--blue-color);
}

.subtitle > p {
    padding: 5px;
    padding-right: 10px;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Permanent Marker';
    color: var(--grey-color);
    text-align: end;
}

/* ------------ MAIN SECTION ------------*/

